.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 200px;
  border: 1px solid #ccc;
  padding: 10px 30px;
  text-align: center;
}

.container div {
  margin-bottom: 5px;
}

.container select, .container input {
  margin-bottom: 10px;
}